<mat-list role="list">
  <ng-container *ngFor="let item of menu">
    <mat-list-item role="listitem" *ngIf="isLogin$ | async">
      <a class="list__link" routerLink="{{ item.link }}">
        {{ item.name }}
      </a>
    </mat-list-item>
  </ng-container>
  <mat-list-item role="listitem" *ngIf="(isLogin$ | async) === false">
    <a class="list__link" (click)="goSignIn()">SignIn</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a class="list__link" *ngIf="(isLogin$ | async) === false" (click)="goSignUp()">SignUp</a>
  </mat-list-item>
</mat-list>
