<div class="task">
  <mat-card class="task__block">
    <mat-card-title>Todo</mat-card-title>
    <mat-card-subtitle>Task</mat-card-subtitle>
    <mat-card-content>
      <div class="task__inputWrap">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>タスクの入力</mat-label>
          <input
            matInput
            autocomplete="off"
            type="text"
            [(ngModel)]="taskTitle"
            (keyup.enter)="addTask(taskTitle)"
          />
          <button
            *ngIf="taskTitle"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="taskTitle = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button
          class="task__add"
          mat-raised-button
          color="primary"
          (click)="addTask(taskTitle)"
        >
          追加
        </button>
      </div>
      <app-task-list
        [tasks]="task$ | async"
        [isLoading]="isLoading$ | async"
        [isCompleted]="false"
        (goEdit)="onGoEdit($event)"
        (doneTask)="onDoneTask($event)"
      ></app-task-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="task__block">
    <mat-card-title>完了タスク</mat-card-title>
    <mat-card-subtitle>Complete</mat-card-subtitle>
    <mat-card-content>
      <app-task-list
        [tasks]="task$ | async"
        [isCompleted]="true"
        (doneTask)="onDoneTask($event)"
        (deleteTask)="onDeleteTask($event)"
      ></app-task-list>
    </mat-card-content>
  </mat-card>
</div>
<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
