.task {
  &__block + &__block {
    margin-top: 24px;
  }

  &__head {
    font-size: 1.4rem;
    text-align: center;
  }

  &__edit {
    text-decoration: underline;
  }

  &__inputWrap {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

  &__input {
    flex: 1;
  }

  &__add {
    margin-left: 24px;
  }
}

.mat-form-field {
  display: block;
  flex: 1;
}
