<mat-card class="card">
  <mat-card-title>リアクティブ</mat-card-title>
  <mat-card-content>
    <div class="reactive">
      <table class="table">
        <tr>
          <th colspan="3">リアクティブな値</th>
        </tr>
        <tr>
          <td>a</td>
          <td>b</td>
          <td>c</td>
        </tr>
        <tr>
          <td>{{ a$ | async }}</td>
          <td>{{ b$ | async }}</td>
          <td>{{ c$ | async }}</td>
        </tr>
      </table>
      <table class="table">
        <tr>
          <th colspan="3">リアクティブではない値</th>
        </tr>
        <tr>
          <td>a</td>
          <td>b</td>
          <td>c</td>
        </tr>
        <tr>
          <td>{{ a }}</td>
          <td>{{ b }}</td>
          <td>{{ c }}</td>
        </tr>
      </table>
    </div>
    <div class="calc">
      <button
        class="calc__button"
        mat-raised-button
        color="primary"
        *ngFor="let item of [1, 2, 3, 4, 5]; let i = index"
        (click)="calc(i)"
      >
        a = {{ i }}
      </button>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title>ngx-charts</mat-card-title>
  <mat-card-content>
    <app-pie-chart></app-pie-chart>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-title>ページング</mat-card-title>
  <mat-card-content>
    <div
      class=""
      *ngFor="let item of items | slice: itemBegin:itemBegin + dispCount"
    >
      {{ item }}
    </div>
  </mat-card-content>
  <div>
    <button
      *ngFor="let item of arrayChunk(items, dispCount); index as i"
      (click)="paging(i)"
    >
      {{ i + 1 }}
    </button>
  </div>
</mat-card>
<mat-card class="card">
  <mat-card-title>メモリリーク回避</mat-card-title>
  <mat-card-content>
    <button mat-raised-button (click)="test()">takeUntil実行</button>
  </mat-card-content>
</mat-card>
