<header class="header">
  <mat-toolbar>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <span *ngIf="!!user">{{ user.userName }}</span>
    <span class="spacer"></span>
    <a
      mat-icon-button
      class="icon input-icon"
      aria-label="Example icon-button with sign-in icon"
      target="_blank"
      href="https://github.com/takumi0826/angular-todo"
    >
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <button
      mat-icon-button
      class="icon input-icon"
      aria-label="Example icon-button with sign-in icon"
      (click)="openDialog()"
      *ngIf="isLogin"
    >
      <mat-icon>input</mat-icon>
    </button>
  </mat-toolbar>
</header>
