<mat-card class="example-card">
  <mat-card-title>新規登録</mat-card-title>
  <mat-card-subtitle>create</mat-card-subtitle>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="名前" [formControl]="name" />
      <mat-error *ngIf="name.invalid">{{
        getErrorNameMessage()
      }}</mat-error> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" />
      <mat-error *ngIf="email.invalid">{{
        getErrorMailMessage()
      }}</mat-error> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{
        getErrorPassMessage()
      }}</mat-error> </mat-form-field
    ><br />
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="routerLink('/login')">
      ログイン
    </button>
    <button mat-raised-button color="accent" (click)="create()">
      新規登録
    </button>
  </mat-card-actions>
</mat-card>
