<mat-card class="example-card">
  <mat-card-title>ログイン</mat-card-title>
  <mat-card-subtitle>sign-in</mat-card-subtitle>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        [matAutocomplete]="mail"
      />
      <mat-autocomplete #mail="matAutocomplete">
        <mat-option *ngFor="let option of emailOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="email.invalid">{{
        getErrorMailMessage()
      }}</mat-error> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
        [matAutocomplete]="pass"
      />
      <mat-autocomplete #pass="matAutocomplete">
        <mat-option *ngFor="let option of passwordOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{
        getErrorPassMessage()
      }}</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="signIn()">
      ログイン
    </button>
  </mat-card-actions>
</mat-card>
