html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 64px);
  border: 1px solid #555;
}

.mat-drawer-side {
  width: 240px;
}

.main {
  padding: 24px;
}
