<p>{{taskTitle}}</p>
<div class="task">
  <div class="task__block">
    <input type="text" name="" id="" class="task__input" [(ngModel)]="taskTitle">
    <button class="task__add" (click)="addTask(taskTitle)">追加</button>
    <div *ngIf="taskInfo != null">
      <ul class="task__lists" *ngFor="let item of taskInfo">
        <li class="task__list">
          <span class="task__title">{{ item.title }}</span>
          <button class="task__delete" (click)="deleteTask(item.id)">削除</button>
        </li>
      </ul>
    </div>
  </div>
</div>