<div class="task">
  <div class="task__block">
    <h2 class="task__head">タスク</h2>
    <div class="task__inputWrap">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="taskTitle"
          (keyup.enter)="addTask(taskTitle)"
        />
        <button
          *ngIf="taskTitle"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="taskTitle = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button
        class="task__add"
        mat-raised-button
        color="primary"
        (click)="addTask(taskTitle)"
      >
        追加
      </button>
    </div>
    <div *ngIf="taskInfo != null">
      <ul class="task__lists">
        <li class="task__list" *ngFor="let item of taskInfo">
          <ng-template [ngIf]="!item.done">
            <span class="task__title">{{ item.title }}</span>
            <div class="task__buttonWrap">
              <button
                mat-fab
                color="primary"
                aria-label="Example icon button with a vertical three dot icon"
                (click)="routeLink('/edit/' + item.id)"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <button
                class="task__button"
                mat-fab
                color="accent"
                aria-label="Example icon button with a delete icon"
                (click)="doneTask(item.id, true)"
              >
                <mat-icon>done</mat-icon>
              </button>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class="task__block">
    <h2 class="task__head">完了タスク</h2>
    <div *ngIf="taskInfo != null">
      <ul class="task__lists">
        <li class="task__list" *ngFor="let item of taskInfo">
          <ng-template [ngIf]="item.done">
            <span class="task__title">{{ item.title }}</span>
            <button
              mat-fab
              color="basic"
              aria-label="Example icon button with a delete icon"
              (click)="doneTask(item.id, false)"
            >
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <button
              class="task__button"
              mat-fab
              color="warn"
              aria-label="Example icon button with a delete icon"
              (click)="deleteTask(item.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-modal></app-modal>
