.task {
  &__body {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    padding: 24px;
  }

  &__head {
    font-size: 1.4rem;
    text-align: center;
  }

  &__list {
    margin-top: 24px;
    max-width: 800px;
    margin: 0 auto;
  }

  &__listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__listItem + &__listItem {
    margin-top: 12px;
  }

  &__title {
    font-weight: bold;
    flex: 1;
  }

  &__buttonWrap {
    margin-left: 12px;
    display: flex;
  }

  &__button {
  }

  &__button + &__button {
    margin-left: 12px;
  }

  &__edit {
    text-decoration: underline;
  }

  &__inputWrap {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

  &__input {
    flex: 1;
  }

  &__add {
    margin-left: 24px;
  }
}

.mat-form-field {
  display: block;
  flex: 1;
}
